{% extends 'base.html' %}
{% load static %}

{% block title %}Contact | Kelvin Oteyo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="contact contact-hero fade-in">
  <h2 class="slide-down">Let’s Work Together</h2>
  <p class="fade-in-delay">
    Have a project in mind? Send me a message and let’s turn your idea into reality.
  </p>
  <a href="https://wa.me/254714328866"
   target="_blank"
   class="whatsapp-float">
  💬
</a>

  {% if messages %}
  <div class="success-message slide-down">
    {{ messages.0 }}
  </div>
{% endif %}


  <form method="POST" class="contact-form slide-up">
  {% csrf_token %}

  <div class="floating-group">
    <input type="text" name="name" required>
    <label>Your Name</label>
  </div>

  <div class="floating-group">
    <input type="email" name="email" required>
    <label>Your Email</label>
  </div>

  <div class="floating-group">
    <textarea name="message" required></textarea>
    <label>Your Message</label>
  </div>

  <button type="submit" class="btn pulse">Send Message</button>
</form>


  
</section>

<section class="contact contact-cta fade-in-delay-2">
  <h2 class="slide-left">Let’s Build Something Powerful</h2>

  <p class="slide-right">
    Need a professional website, a system, or a creative digital solution?
    I’m always open to exciting collaborations.
  </p>

  <a
    href="https://wa.me/254714328866?text=Hello%20Kelvin,%20I%20would%20like%20to%20work%20with%20you"
    target="_blank"
    class="btn glow"
  >
    Chat on WhatsApp
  </a>
</section>


{% endblock %}
